<!DOCTYPE html>
<html ng-app="myApp">



<head>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0"
        src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>

</head>


<body ng-controller="customersCtrl" ng-init="">

    <div class="container">
        <h5>選擇地區</h5>
        <select ng-model="selectedZone" ng-options="z for z in zones" ng-change="changeSelected(selectedZone)">
        </select>
        <br>
        <h5>熱門景點：</h5>
        <button class="btn-info" ng-click="selectedZone='所有區域';changeSelected(selectedZone)">所有區域</button>
        <button class="btn-info" ng-click="selectedZone='三民區';changeSelected(selectedZone)">三民區</button>
        <button class="btn-info" ng-click="selectedZone='左營區';changeSelected(selectedZone)">左營區</button>
        <button class="btn-info" ng-click="selectedZone='美濃區';changeSelected(selectedZone)">美濃區</button>
        <br><br>
        <h6>你現在正在瀏覽:{{ selectedZone?selectedZone:'全部區域'}}</h6>
        <h6>該地區有{{filteredItems.length}}個景點</h6>
        <br><br>

        <item-gallery data="filteredItems"></item-gallery>

    </div>


    <script>
        var app = angular.module('myApp', ['ui.bootstrap']);

        app.controller('customersCtrl', function ($scope, $http, $q) {
            // Define scope variables.
            $scope.items = [];
            $scope.filteredItems = [];
            $scope.zones = [];

            // Get data via url.
            let promise1 = $http.get("https://raw.githubusercontent.com/hexschool/KCGTravel/master/datastore_search.json")
                .then(function (response) {
                    console.log("Get data.");
                    var items = response.data.result.records;
                    return items;
                });
            // Execute while data has ready.
            $q.all([promise1]).then(res => {
                var items = res[0];
                $scope.items = items;
                $scope.zones = [];
                for (var i = 0; i < items.length; i++) {
                    if (!$scope.zones.includes(items[i].Zone))
                        $scope.zones.push(items[i].Zone);
                }
                $scope.filteredItems = items;

                $scope.changeSelected = function (zone) {
                    var display;
                    $scope.filteredItems = $scope.items.filter(d => {
                        if (d.Zone == zone || zone == "所有區域")
                            return d;
                    })
                };
            });
        })
        // item-display directive.
        app.directive("itemGallery", function () {
            return {
                scope: {
                    data: '=',
                },
                templateUrl: 'item-gallery.html',
                controller: function ($scope) {

                    $scope.displayItmes = [];
                    $scope.currentPage = 1;
                    $scope.numPerPage = 6;

                    $scope.numPages = function () {
                        return Math.ceil($scope.data.length / $scope.numPerPage);
                    };
                    $scope.$watch("data + currentPage + numPerPage", function () {

                        var begin = (($scope.currentPage - 1) * $scope.numPerPage)
                            , end = begin + $scope.numPerPage;

                        $scope.displayItmes = $scope.data.slice(begin, end);
                        console.log("$watch trigerred...");
                    });
                },
                controllerAs: 'MyCtrl'
            };
        });

    </script>

</body>

</html>